/* .camera-container {
    text-align: center;
    margin-top: 20px;
  }
  
  video {
    border: 2px solid #ccc;
    border-radius: 8px;
  }
   */
   .camera-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  }
  
  video {
    width: 100%;
    max-width: 500px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  canvas {
    display: none;
  }
  