#skills {
    margin: 50px 0;
    text-align: center;
  }
  
  #skills h1 {
    font-size: 36px;
    color: #333;
  }
  
  #skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  #skills li {
    font-size: 18px;
    color: #666;
    margin: 10px 0;
  }
  